<h1>编辑目标: {{id}}</h1>
<label>
  名称:
  <input type="text" ng-model="goal.name">
</label>

<label>
  描述:
  <input type="text" ng-model="goal.desc">
</label>
<button ng-click="save()">保存</button>
<a ng-if="goal.planId" href="/#/plans/{{goal.planId}}">返回所属方案</a>
<a ng-if="goal.toplevel" href="/#/toplevel">返回根目标集合</a>
<a href="/#/ideas?goalId={{id}}">打开点子集合</a>
<h2>方案列表</h2>

<ul>
  <li ng-repeat="idea in ideas">
    由 <b>{{idea.content}}</b> 引出的方案:
    <ul>
      <li ng-repeat="plan in idea.plans" >
        <a href="/#/plans/{{plan._id}}">{{plan._id}}</a>
      </li>
    </ul>
  </li>
</ul>
