@import "nib"

global-reset()
nested-reset()
reset-html5()

.idea, .goal {
    padding:8px;
    display:inline-block;
    border:2px solid #ccc;
    margin:6px;
}

@import "vendor/bootstrap/bootstrap.css"

body {
    padding-top:32px;
}

gosol-tree {
    display:block;
    background:#eee;
    width:100%;
    border-radius:4px;
}

.node rect {
  cursor:pointer;
  fill:#fff;
  stroke:#ccc;
  stroke-width:1px;
}

.node text {
  font:16px sans-serif;
  fill:#888;
  pointer-events: none;
}

.node-label text {
    fill:#999;
}

.node-label rect {
    fill:#ccc;
}

.root .node-label {
    rect {
        fill:#5cb85c;
    }
    
    text {
        fill:#fff;
    }
}

.goals .node-label {
    rect {
        fill:#428bca;
    }
    
    text {
        fill:#fff;
    }
}

.ideas .node-label {
    rect {
        fill:#f0ad4e;
    }
    
    text {
        fill:#fff;
    }
}

path.link {
    fill:none;
    stroke:#9ecae1;
    stroke-width:2px;
}