<h1>点子集合</h1>
<a ng-if="goalId" href="/#/ideas/new?goalId={{goalId}}">增加一个新点子</a>
<a ng-if="goalId" href="/#/goals/{{goalId}}">返回目标</a>
<div id="ideas">
  <div class="idea" ng-repeat="idea in ideas" ng-switch="idea.type">
    <a ng-href="/#/ideas/{{idea._id}}">
      <div class="idea-content" ng-switch-when="text">{{idea.content}}</div>
      <img class="idea-content" ng-switch-when="image" ng-src="{{idea.content}}">
    </a>
    <div style="margin-bottom:32px;">
      <b>已关联方案:</b>
      <ul>
        <li ng-repeat="plan in idea.plans">
          <a href="/#/plans/{{plan._id}}">{{plan.name || plan._id}}</a>
        </li>
      </ul>
    </div>
    <div>
      <a style="width:100%;background:#000;padding:8px;color:white;" href="/#/plans/new?ideaId={{idea._id}}&goalId={{goalId}}">创建新方案</a>
    </div>
  </div>
</div>
